<form class="form-horizontal method="GET" action="/add-mentee">
	<h2>What Field Are You Interested In?</h2>

	<div class="form-group">
		<label for="fieldUname" class=col-sm-2 control-label">Username</label>
		<div class="col-sm-4">
		<input type="text" class="form-control" id="fieldUname" name="username">
		</div>
	</div>

	<div class="form-group">
		<label for="fieldProf" class=col-sm-2 control-label">Profession</label>
		<div class="col-sm-4">
		<select id="fieldProf" name = "prof" onchange="changeToInput(this);">
			<option value = "teacher">Teacher</option>
			<option value = "accountant">Accountant</option>
			<option value = "nurse">Nurse</option>
			<option value = "office clerk">Office Clerk</option>
			<option value = "chef">Chef</option>
			<option value = "carpenter">Carpenter</option>
			<option value = "police officer">Police Officer</option>
			<option value = "fire fighter">Fire Fighter</option>
			<option value = "tech support">Tech Support</option>
			<option value = "software developer">Software Developer</option>
			<option value = "lawyer">Lawyer</option>
			<option value = "finance">Finance</option>
			<option value = "banking">Banking</option>
			<option value = "human resources">Human Resources</option>
			<option value = "doctor">Doctor</option>
			<option value = "writer">Writer</option>
			<option value = "journalist">Journalist</option>
			<option value = "dentist">Dentist</option>
			<option value = "therapist">Therapist</option>
			<option value = "marketing">Marketing</option>
			<option value = "stock broker">Stock Broker</option>
			<option value = "civil engineer">Civil Engineer</option>
			<option value = "electronic engineer">Civil Engineer</option>
			<option value = "sales representative">Sales Representative</option>
			<option value = "physical therapist">Physical Therapist</option>
			<option value = "pharmacist">Pharmacist</option>
			<option value = "Other">Other</option>
		</select>
		</div>
	</div>

	<div class="form-group">
		<label for="fieldTitle" class=col-sm-2 control-label">Title (Not Required)</label>
		<div class="col-sm-4">
		<input type="text" class="form-control" id="fieldTitle" name="title">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-4">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>

</form>

<script>
var Objs;

function changeToInput(obj){
    var sel = document.getElementById('fieldProf');
    var newProf = sel.options[sel.selectedIndex].text;
    if(newProf == 'Other') {
 		tb=document.createElement('INPUT');
 		tb.type='text';
 		tb.name='prof';
 		tb.id='fieldProf';
 		tb.value=obj.options[obj.selectedIndex].text;
 		tbb=document.createElement('INPUT');
 		tbb.type='button';
 		tbb.value='Back';
 		tbb.objs=[obj,tb,tbb];
 		tbb.onclick=function(){ Replace(this.objs); }
 		obj.parentNode.insertBefore(tb,obj);
 		obj.parentNode.insertBefore(tbb,obj);
 		obj.parentNode.removeChild(obj);
 }
}

function Replace(obj){
 	obj[2].parentNode.insertBefore(obj[0],obj[2]);
 	obj[0].parentNode.removeChild(obj[1]);
 	obj[0].parentNode.removeChild(obj[2]);
}
</script>